.archived-versions

#Binaries
*.exe

# Python cache
*.pyc
*.pyo
.pytest_cache
__pycache__
yt_dlp/__pycache__
yt_dlp/downloader/__pycache__
yt_dlp/extractor/__pycache__

# build stuff
build/
dist/
zip/
tmp/
venv/
completions/
*.spec

#downloaded files 
*.egg-info
*.srt
*.ttml
*.sbv
*.vtt
*.flv
*.mp4
*.m4a
*.m4v
*.mp3
*.3gp
*.wav
*.ape
*.mkv
*.swf
*.part
*.ytdl
*.swp
