#macOS
.DS_Store
*/.DS_Store

#Binaries
*.exe

# Python cache
*.pyc
*.pyo
.pytest_cache
**/__pycache__

# build stuff
build/
dist/
zip/
tmp/
venv/
completions/
*.spec
*.notanexecutable
ytdl-GUI_pyInstaller.bat

README.html
supportedsites.html

#downloaded files 
*.egg-info
*.srt
*.ttml
*.sbv
*.vtt
*.flv
*.mp4
*.m4a
*.m4v
*.mp3
*.3gp
*.wav
*.ape
*.mkv
*.swf
*.part
*.ytdl
*.swp
